In [1]:
#Importação da biblioteca do google colab e autorização para acesso
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
#Abri o arquivo de dados
with open('/content/drive/My Drive/Colab Notebooks/msg.txt', 'r') as f:
  msg = f.read()

In [3]:
#Limpeza inicial: retira números, caracteres e espaços
msg = msg.upper().replace('0', '').replace('1', '').replace('2', '').replace('3', '').replace('4', '').replace('5', '').replace('6', '').replace('7', '').replace('8', '').replace('9', '')
msg = msg.upper().replace('  ', '')
msg = msg.upper().replace(',', '')
msg = msg.upper().replace(';', '')
msg = msg.upper().replace(':', '')
msg = msg.upper().replace('?', '')
msg = msg.upper().replace('.', '')
msg = msg.upper().replace('—', '').replace('–', '').replace('––', '').replace('––', '').replace('=', '')
msg = msg.upper().replace('“', '').replace('”', '')
msg = msg.upper().replace('(', '').replace(')', '')
msg = msg.upper().replace('[', '').replace(']', '')
msg = msg.upper().replace('/', '')
msg = msg.upper().replace('#', '')
msg = msg.upper().replace('\n', ' ')
msg = msg.upper().replace('<', '').replace('>', '')
msg = msg.upper().replace('¹', '')
msg = msg.upper().replace('%', '')
msg

'INFLATION EXPLAINED IN ONE MINUTE TRANSCRIÇÃO LET’S ASSUME YOUR MONTHLY INCOME WERE TO SOMEHOW DOUBLE CONGRATULATIONS! YOU CAN NOW FOR THE MOST PART AFFORD TO BUY TWO TIMES MORE STUFF BUT WHAT IF THE MONTHLY INCOME OF EVERYONE ELSE WERE TO ALSO DOUBLE WELL IN THAT CASE YOU’D NO LONGER BE ABLE TO BUYTIMES MORE STUFF BECAUSE SINCE EVERYONE ELSE ALSO EARNSTIMES MORE THERE WOULD BETIMES MORE MONEY CHASING ROUGHLY THE SAME NUMBER OF GOODS LET’S TAKE THINGS ONE STEP FURTHER WHAT IF YOUR INCOME DOUBLES BUT THE INCOME OF EVERYONE ELSE TRIPLES IN THAT CASE YOU’D ACTUALLY BECOME POOR WHY BECAUSE MAKINGTIMES MORE MONEY IS NOT ENOUGH TO KEEP UP WITH EVERYONE ELSE WHO NOW MAKESTIMES MORE IF THERE IS AN OVERALL INCREASE IN THE PRICE OF GOODS AND SERVICES OF X THIS YEAR YOU HAVE TO EARN AT LEAST X MORE THAN LAST YEAR TO AVOID BECOMING POOR IN REAL TERMS HISTORY MAKES THE EFFECTS OF INFLATION CRYSTAL CLEAR TODAY EACH A DOLLAR BUYS YOU APPROXIMATELYTIMES LESS POTATOES THANYEARS AGO ORTIMES LESS COFFEETIMES LESS BREAD AND SO ON   THE GREAT DEPRESSION EXPLAINED IN ONE MINUTE TRANSCRIÇÃO THE GREAT DEPRESSION WAS A DRAMATIC WORLDWIDE ECONOMIC CALAMITY WHICH STARTED INAND LASTED UNTIL THE LATE S MOST PEOPLE BELIEVE IT BEGAN WITH THE US STOCK MARKET COLLAPSE OF OCTOBER  BY  US STOCKS WERE ONLY WORTH  OF WHAT THEY WERE PRIOR TO THE CRISIS ANDYEAR LATER ALMOST HALF OF ALL UNITES STATES BANKS HAD FAILED BY  ROUGHLY  FARMS HAD BEEN LOST TO BANKRUPTCY OR DISTRESSED SALES EUROPEAN COUNTRIES DEBILITATED BY THE DEBT THEY HAD ACCUMULATED DUE TO WORLD WAR  DEALT WITH THE SEVERE DEPRESSION AND A SOVEREIGN DEBT CRISIS ULTIMATELY EMERGED IN GERMANY FOR EXAMPLE UNEMPLOYMENT REACHED  AND AMONG OTHER THINGS THIS ECONOMIC DISASTER LED TO HITLER’S NAZI PARTY BECOMING THE TOP POLITICAL ACTOR AFTER THEELECTIONS WORLDWIDE TRADE WAS DEVASTATED BY THE GREAT DEPRESSION WITH COUNTRIES ENGAGING IN SO-CALLED TRADE WARS BY LIMITING IMPORTS AND BY THE SAME YEAR  GLOBAL TRADE CRASHED TO HALF OF THE PRE-CRISIS VOLUME UNFORTUNATELY TRADE WARS DEGENERATED INTO AN ACTUAL ARMED CONFLICT WHICH CAUSED OVERMILLION DEATHS  WORLD WAR  MAKE NO MISTAKE MOST WARS HAVE BEEN CAUSED BY ECONOMIC FACTORS TO A VERY LARGE DEGREE LET’S LEARN FROM THE PAST AND NOT LET THIS HAPPEN AGAIN   WHY DO INDIA AND CHINA HAVE SO MANY PEOPLE TRANSCRIÇÃO HI THIS IS KATE FROM MINUTEEARTH INDIA AND CHINA TOGETHER ARE HOME TO OVER  BILLION PEOPLE THAT’S AS MANY HUMANS AS IN THE NEXTMOST POPULOUS COUNTRIES COMBINED OR IN THE WHOLE OTHERCOUNTRIES IN THE WORLD OVER THE LASTYEARS INDIA AND CHINA EACH ADDED MORE THAN A BILLION PEOPLE TO THEIR POPULATIONS  WAY MORE THAN ANY OTHER COUNTRY BUT THEY HAVE ACTUALLY BEEN GROWING AT ABOUT THE SAME RATE AS THE REST OF THE WORLD THEY HAVE A LOT MORE PEOPLE TODAY BECAUSE THEY HAD A LOT MORE PEOPLE A FEW HUNDRED YEARS AGO WHEN THE WORLD BEGAN A PERIOD OF MODERN AND RAPID POPULATION GROWTH IT’S LIKE COMPARING A BIG BANK ACCOUNT AND A SMALL ONE IF THEY BOTH GROW AT ABOUT THE SAME RATE OVER MANY YEARS THE BIG ONE GAINS A LOT MORE MONEY SIMPLY BECAUSE IT STARTED WITH MORE SO THE BILLION DOLLAR OR BILLION PERSON QUESTION IS WHY DID INDIA AND CHINA HAVE SO MANY PEOPLE WHEN THEY STARTED THEIR RAPID GROWTH WE CAN’T KNOW FOR SURE SINCE SO MANY VARIABLES FACTOR INTO LONG-TERM POPULATION DYNAMICS BUT THE TWO MOST PLAUSIBLE EXPLANATIONS ARE FOOD AND AREA HAVING LOTS OF FERTILE LAND AND GOOD ACCESS TO FRESH WATER MAKES IT POSSIBLE TO GROW LOTS OF FOOD WHICH IN TURN MAKES IT POSSIBLE TO NOURISH A LOT OF PEOPLE EVEN TODAY THEMOST POPULATED COUNTRIES IN THE WORLD ALL HAVE A RELATIVELY LARGE AMOUNT OF FARMLAND AND ASIA  AND IN PARTICULAR SOUTH AND EAST ASIA  HAS TONS OF FARMLAND LOTS OF RIVER VALLEYS AND THE ABILITY TO GROW FOOD YEAR ROUND PLUS DOMESTICATION OF PLANTS AND ANIMALS ESSENTIALLY STARTED IN ASIA GIVING POPULATIONS AN EARLY LEGOR WINGUP AS SUCH ASIA’S BEEN THE MOST DENSELY POPULATED REGION OF THE WORLD FOR A REALLY LONG TIME AREA MATTERS TOO COUNTRIES LIKE PAKISTAN AND BANGLADESH MAY BE FILLED WITH FARMS AND DENSELY POPULATED BUT BECAUSE THEY’RE SMALLER IN AREA THAN INDIA AND CHINA THEY SIMPLY CANNOT CONTAIN AS MANY PEOPLE OF COURSE A FEW OTHER THINGS HAPPENED IN INDIA AND CHINA IN THE LAST FEW THOUSAND YEARS SOME OF THEM HELPED THE POPULATIONS GROW AND SOME OF THEM SHRANK THE POPULATIONS BUT THROUGH IT ALL THE LARGE AND FERTILE LANDS OF INDIA AND CHINA WERE ABLE TO SUSTAIN LOTS OF PEOPLE SUCH THAT WHEN THE ERA OF MODERN POPULATION GROWTH CAME AROUND THEY HAD A HEAD START OR RATHER A HUNDRED MILLION HEAD START THIS VIDEO WAS SPONSORED BY THE UNIVERSITY OF MINNESOTA WHERE STUDENTS FACULTY AND STAFF ACROSS ALL FIELDS OF STUDY ARE WORKING TO SOLVE THE GRAND CHALLENGES FACING SOCIETY THE MINNESOTA POPULATION CENTER IS HELPING DEMOGRAPHIC RESEARCHERS EXPLORE PAST AND CURRENT TRENDS IN WORLD POPULATION THE GLOBAL LANDSCAPES INITIATIVE IS WORKING TO FIGURE OUT HOW TO KEEP FEEDING THE WORLD’S GROWING POPULATION WITHOUT HARMING THE PLANET AND THE IPUMS TERRA PROJECT INTEGRATES GLOBAL POPULATION DATA WITH DATA ON THE ENVIRONMENT TO BETTER UNDERSTAND HOW HUMANS TRANSFORM ECOSYSTEMS AND HOW ECOSYSTEMS TRANSFORM HUMANS THANKS UNIVERSITY OF MINNESOTA '

In [4]:
#biblioteca para trabalhar com matrizes
import numpy as np

In [5]:
#Palavras unicas
x = np.unique(msg.split())
x

array(['A', 'ABILITY', 'ABLE', 'ABOUT', 'ACCESS', 'ACCOUNT',
       'ACCUMULATED', 'ACROSS', 'ACTOR', 'ACTUAL', 'ACTUALLY', 'ADDED',
       'AFFORD', 'AFTER', 'AGAIN', 'AGO', 'ALL', 'ALMOST', 'ALSO',
       'AMONG', 'AMOUNT', 'AN', 'AND', 'ANDYEAR', 'ANIMALS', 'ANY',
       'APPROXIMATELYTIMES', 'ARE', 'AREA', 'ARMED', 'AROUND', 'AS',
       'ASIA', 'ASIA’S', 'ASSUME', 'AT', 'AVOID', 'BANGLADESH', 'BANK',
       'BANKRUPTCY', 'BANKS', 'BE', 'BECAUSE', 'BECOME', 'BECOMING',
       'BEEN', 'BEGAN', 'BELIEVE', 'BETIMES', 'BETTER', 'BIG', 'BILLION',
       'BOTH', 'BREAD', 'BUT', 'BUY', 'BUYS', 'BUYTIMES', 'BY',
       'CALAMITY', 'CAME', 'CAN', 'CANNOT', 'CAN’T', 'CASE', 'CAUSED',
       'CENTER', 'CHALLENGES', 'CHASING', 'CHINA', 'CLEAR', 'COFFEETIMES',
       'COLLAPSE', 'COMBINED', 'COMPARING', 'CONFLICT',
       'CONGRATULATIONS!', 'CONTAIN', 'COUNTRIES', 'COUNTRY', 'COURSE',
       'CRASHED', 'CRISIS', 'CRYSTAL', 'CURRENT', 'DATA', 'DEALT',
       'DEATHS', 'DEBILITATED', 'DEBT', 'DEGENERATED', 'DEGREE',
       'DEMOGRAPHIC', 'DENSELY', 'DEPRESSION', 'DEVASTATED', 'DID',
       'DISASTER', 'DISTRESSED', 'DO', 'DOLLAR', 'DOMESTICATION',
       'DOUBLE', 'DOUBLES', 'DRAMATIC', 'DUE', 'DYNAMICS', 'EACH',
       'EARLY', 'EARN', 'EARNSTIMES', 'EAST', 'ECONOMIC', 'ECOSYSTEMS',
       'EFFECTS', 'ELSE', 'EMERGED', 'ENGAGING', 'ENOUGH', 'ENVIRONMENT',
       'ERA', 'ESSENTIALLY', 'EUROPEAN', 'EVEN', 'EVERYONE', 'EXAMPLE',
       'EXPLAINED', 'EXPLANATIONS', 'EXPLORE', 'FACING', 'FACTOR',
       'FACTORS', 'FACULTY', 'FAILED', 'FARMLAND', 'FARMS', 'FEEDING',
       'FERTILE', 'FEW', 'FIELDS', 'FIGURE', 'FILLED', 'FOOD', 'FOR',
       'FRESH', 'FROM', 'FURTHER', 'GAINS', 'GERMANY', 'GIVING', 'GLOBAL',
       'GOOD', 'GOODS', 'GRAND', 'GREAT', 'GROW', 'GROWING', 'GROWTH',
       'HAD', 'HALF', 'HAPPEN', 'HAPPENED', 'HARMING', 'HAS', 'HAVE',
       'HAVING', 'HEAD', 'HELPED', 'HELPING', 'HI', 'HISTORY', 'HITLER’S',
       'HOME', 'HOW', 'HUMANS', 'HUNDRED', 'IF', 'IMPORTS', 'IN', 'INAND',
       'INCOME', 'INCREASE', 'INDIA', 'INFLATION', 'INITIATIVE',
       'INTEGRATES', 'INTO', 'IPUMS', 'IS', 'IT', 'IT’S', 'KATE', 'KEEP',
       'KNOW', 'LAND', 'LANDS', 'LANDSCAPES', 'LARGE', 'LAST', 'LASTED',
       'LASTYEARS', 'LATE', 'LATER', 'LEARN', 'LEAST', 'LED', 'LEGOR',
       'LESS', 'LET', 'LET’S', 'LIKE', 'LIMITING', 'LONG', 'LONG-TERM',
       'LONGER', 'LOST', 'LOT', 'LOTS', 'MAKE', 'MAKES', 'MAKESTIMES',
       'MAKINGTIMES', 'MANY', 'MARKET', 'MATTERS', 'MAY', 'MILLION',
       'MINNESOTA', 'MINUTE', 'MINUTEEARTH', 'MISTAKE', 'MODERN', 'MONEY',
       'MONTHLY', 'MORE', 'MOST', 'NAZI', 'NEXTMOST', 'NO', 'NOT',
       'NOURISH', 'NOW', 'NUMBER', 'OCTOBER', 'OF', 'ON', 'ONE', 'ONLY',
       'OR', 'ORTIMES', 'OTHER', 'OTHERCOUNTRIES', 'OUT', 'OVER',
       'OVERALL', 'OVERMILLION', 'PAKISTAN', 'PART', 'PARTICULAR',
       'PARTY', 'PAST', 'PEOPLE', 'PERIOD', 'PERSON', 'PLANET', 'PLANTS',
       'PLAUSIBLE', 'PLUS', 'POLITICAL', 'POOR', 'POPULATED',
       'POPULATION', 'POPULATIONS', 'POPULOUS', 'POSSIBLE', 'POTATOES',
       'PRE-CRISIS', 'PRICE', 'PRIOR', 'PROJECT', 'QUESTION', 'RAPID',
       'RATE', 'RATHER', 'REACHED', 'REAL', 'REALLY', 'REGION',
       'RELATIVELY', 'RESEARCHERS', 'REST', 'RIVER', 'ROUGHLY', 'ROUND',
       'S', 'SALES', 'SAME', 'SERVICES', 'SEVERE', 'SHRANK', 'SIMPLY',
       'SINCE', 'SMALL', 'SMALLER', 'SO', 'SO-CALLED', 'SOCIETY', 'SOLVE',
       'SOME', 'SOMEHOW', 'SOUTH', 'SOVEREIGN', 'SPONSORED', 'STAFF',
       'START', 'STARTED', 'STATES', 'STEP', 'STOCK', 'STOCKS',
       'STUDENTS', 'STUDY', 'STUFF', 'SUCH', 'SURE', 'SUSTAIN', 'TAKE',
       'TERMS', 'TERRA', 'THAN', 'THANKS', 'THANYEARS', 'THAT', 'THAT’S',
       'THE', 'THEELECTIONS', 'THEIR', 'THEM', 'THEMOST', 'THERE', 'THEY',
       'THEY’RE', 'THINGS', 'THIS', 'THOUSAND', 'THROUGH', 'TIME',
       'TIMES', 'TO', 'TODAY', 'TOGETHER', 'TONS', 'TOO', 'TOP', 'TRADE',
       'TRANSCRIÇÃO', 'TRANSFORM', 'TRENDS', 'TRIPLES', 'TURN', 'TWO',
       'ULTIMATELY', 'UNDERSTAND', 'UNEMPLOYMENT', 'UNFORTUNATELY',
       'UNITES', 'UNIVERSITY', 'UNTIL', 'UP', 'US', 'VALLEYS',
       'VARIABLES', 'VERY', 'VIDEO', 'VOLUME', 'WAR', 'WARS', 'WAS',
       'WATER', 'WAY', 'WE', 'WELL', 'WERE', 'WHAT', 'WHEN', 'WHERE',
       'WHICH', 'WHO', 'WHOLE', 'WHY', 'WINGUP', 'WITH', 'WITHOUT',
       'WORKING', 'WORLD', 'WORLDWIDE', 'WORLD’S', 'WORTH', 'WOULD', 'X',
       'YEAR', 'YEARS', 'YOU', 'YOUR', 'YOU’D'], dtype='<U18')

In [6]:
#quantidade de palavras únicas
x.size

405

In [7]:
#Função forma mensagem com palavras unicas
def formMessagem(msg):

  txt = ''
  
  for i in range(len(msg)):
    txt = txt + ' ' + msg[i] 

  return txt

In [8]:
#Biblioteca que retorna a quantidade
from collections import Counter

In [9]:
#Função vai contar a ocorrencia de cada palavra
def moda(msg, ocorrencia):

    msg = msg.split()
    ocorrencia = ocorrencia.split()

    lista = []

    for i in ocorrencia:
        for j in msg:
            if i == j:
                lista.append(j)
    return Counter(lista)

In [10]:
#Bilioteca para trabalhar com tabelas
import pandas as pd

In [11]:
#Criar tabela com o número de palavras únicas e a sua ocorrência
df = pd.melt(pd.DataFrame(moda(msg, formMessagem(x)), index=[1]))
df.columns=['Palavra', 'Ocorrência']
df.head(10)

       Palavra  Ocorrência
0            A          18
1      ABILITY           1
2         ABLE           2
3        ABOUT           2
4       ACCESS           1
5      ACCOUNT           1
6  ACCUMULATED           1
7       ACROSS           1
8        ACTOR           1
9       ACTUAL           1

In [12]:
#Procura as 10 palavras com maior ocorrência
df.sort_values(['Ocorrência'], ascending=False).head(10)

    Palavra  Ocorrência
334     THE          47
22      AND          30
244      OF          29
348      TO          24
178      IN          19
0         A          18
234    MORE          13
261  PEOPLE          10
340    THEY           9
394   WORLD           8